@import "tailwindcss";

@font-face {
  font-family: Syne;
  src: url('/fonts/Syne-ExtraBold.otf');
}

@font-face {
  font-family: 'ARK-ES';
  src: url('/fonts/ARK-ES-SolidBold.woff');
}

@font-face {
  font-family: 'ARK-ES-Dense';
  src: url('/fonts/ARK-ES-DenseRegular.woff');
}

@font-face {
  font-family: 'Teenage-Dreams';
  src: url('/fonts/TeenageDreamsFont-Demo-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 100;
  src: url('/fonts/HelveticaNeueThin.otf');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 200;
  src: url('/fonts/HelveticaNeueLight.otf');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 900;
  src: url('/fonts/HelveticaNeueHeavy.otf');
}

@font-face {
  font-family: 'PP-Neue-Montreal';
  src: url('/fonts/PPNeueMontrealMono-Book.otf');
}


@theme {
  --font-syne: Syne, "san-serif";
  --font-ark-es: 'ARK-ES', "san-serif";
  --font-ark-es-dense: 'ARK-ES-Dense', "san-serif";
  --font-helvetica-neue: 'Helvetica-Neue', "san-serif";
  --font-teenage-dreams: 'Teenage-Dreams', "san-serif";
  --font-pp-neue-montreal: 'PP-Neue-Montreal', "san-serif";
}

@utility text-stroke-* {
   -webkit-text-stroke-width: calc(--value(integer) * 1px);
   -webkit-text-stroke-color: --value(--color-*);
   -webkit-text-stroke-color: --value([*]);
}

#root {
  margin: 0 auto;
  font-family: 'Helvetica-Neue';
  font-weight: 100;
  color: white;
  overflow-x: hidden;
  background-image: 
    linear-gradient(rgb(20 20 20), rgb(0 0 0 / 83%)),
    url('/background.webp');
  background-repeat: round;
}

.word1 {
  color:white;
}


.word6, .word7  {
  color: white;
  font-family: 'Teenage-Dreams';
}

.client-work-word2 {
  margin-top: -200px;
  color: red;
  y: -200px;
  transform: translateY('200px');
}

.border-texture {
  border: 2px solid transparent;
  border-image: url("https://www.transparenttextures.com/patterns/binding-dark.png") 4 repeat;
  filter: brightness(1.5);
}

.border-texture-top {
  border-top: 2px solid transparent;
  border-image: url("https://www.transparenttextures.com/patterns/binding-dark.png") 4 repeat;
  filter: brightness(2.5);
}

.font-pp-neue-montreal {
  letter-spacing: 0rem;
}